@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Columns Style Sheet
   Author: Lucas Cerqueira
   Date:   3/24/2022

   Filename:         dlr_columns2.css

*/



/* Column Styles */


